.password__container {
    width: 452px;
}
.password__content {
    width: 100%;
    padding: 0 !important;
    .password__content__header {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        .password__content__header__logo {
            height: 24px;
        }
        .password__content__header__texts {
            margin-top: 16px;
            color: var(--color-black);
            font-family: var(--font-noto-sans);
            text-align: center;
            .password__content__header__texts__welcome {
                font-weight: 400;
                font-size: 24px;
                line-height: 32px;
            }
            .password__content__header__texts__chip {
                margin: 8px 0 24px 0;
                cursor: pointer;
            }
        }
    }
    .password__content__body {
        width: 100%;
        margin-top: 24px;
        .password__content__body__input {
            width: 100%;
        }
    }
}
.password__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 26px;
    padding: 0 !important;
    .password__footer__button {
        text-transform: none;
    }
    .password__footer__button:nth-child(1) {
        margin-left: -8px;
    }
    .password__footer__button:nth-child(2) {
        background-color: var(--color-blue);
    }
}
