.sign_in__container {
	width: 452px;
}
.sign_in__content {
	width: 100%;
	padding: 0 !important;
	.sign_in__content__header {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		.sign_in__content__header__logo {
			height: 24px;
		}
		.sign_in__content__header__texts {
			margin-top: 16px;
			color: var(--color-black);
			font-family: var(--font-noto-sans);
			text-align: center;
			.sign_in__content__header__texts__sign_in {
				font-weight: 400;
				font-size: 24px;
				line-height: 32px;
			}
			.sign_in__content__header__texts__continue {
				margin-top: 8px;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
			}
		}
	}
	.sign_in__content__body {
		width: 100%;
		margin-top: 24px;
		.sign_in__content__body__input {
			width: 100%;
		}
		.sign_in__content__body__forgot_email {
			display: inline-block;
			margin: 9px 0 3px 0;
			font-weight: 500;
			font-size: 14px;
			line-height: 20px;
		}
		.sign_in__content__body__information {
			margin-top: 32px;
			padding: 9px 0 3px 0;
			font-weight: 400;
			font-size: 14px;
			font-family: var(--font-noto-sans);
			line-height: 20px;
			opacity: 0.9;
			a {
				font-weight: 500;
				font-size: 14px;
				line-height: 20px;
			}
		}
	}
}
.sign_in__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 26px;
	padding: 0 !important;
	.sign_in__footer__button {
		text-transform: none;
		&:nth-child(1) {
			margin-left: -8px;
		}
		&:nth-child(2) {
			background-color: var(--color-blue);
		}
	}
}
