.templates {
    width: 100%;
    padding: 0 190px 40px 190px;
    box-sizing: border-box;
    background-color: var(--color-gray-quaternary);
    display: flex;
    flex-direction: column;
    .templates__toolbar {
        width: 100%;
        padding: 0 8px;
        box-sizing: border-box;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .templates__toolbar__title {
            color: var(--color-black);
            font-size: 16px;
            font-weight: 400;
            font-family: var(--font-roboto);
        }
    }
    .templates__items {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .templates__items__item {
            width: 170px;
            cursor: pointer;
            .templates__items__item__image {
                width: 100%;
                height: 128px;
                background-color: var(--color-gray-secondary);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                border-radius: 8px;
                border: 1px solid var(--color-border);
            }
            .templates__items__item__title {
                margin-top: 12px;
                padding-left: 8px;
                color: var(--color-black);
                font-size: 14px;
                font-weight: 500;
                font-family: var(--font-roboto);
            }
            &:hover {
                .templates__items__item__image {
                    border: 1px solid var(--color-gray-secondary);
                }
            }
        }
    }
}
.show_recently_used_templates_popup {
    z-index: 99;
    position: fixed;
    width: 156px;
    border-radius: 4px !important;
    .show_recently_used_templates_popup__item {
        font-size: 14px;
        color: var(--color-black);
        font-family: var(--font-noto-sans);
        font-weight: 400;
        line-height: 20px;
    }
}
.hidden_button {
    height: 56px;
    width: 56px;
    border-radius: 56px;
    background-color: var(--color-white);
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 99;
    bottom: 24px;
    right: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    .hidden_button__pseudo_button {
        height: 24px;
        width: 24px;
        img {
            height: 100%;
            width: 100%;
        }
    }
    .hidden_button__real_button {
        display: none;
        color: var(--color-purple);
    }
    &:hover {
        .hidden_button__pseudo_button {
            display: none;
        }
        .hidden_button__real_button {
            display: inline;
        }
    }
}
