.account {
    position: fixed;
    top: 64px;
    right: 12px;
    width: 310px;
    border-radius: 8px !important;
    .account__manage {
        padding: 20px 0;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        .account__manage__image {
            width: 80px;
            height: 80px;
            position: relative;
            margin-bottom: 20px;
            .account__manage__image__new_photo {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 24px;
                height: 24px;
                border-radius: 24px;
                background-color: var(--color-white);
                color: var(--color-gray-primary);
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
                cursor: pointer;
                svg {
                    width: 18px;
                    height: 18px;
                }
                &:hover {
                    color: var(--color-blue);
                }
            }
        }
        .account__manage__name,
        .account__manage__username {
            font-family: var(--font-noto-sans);
            color: var(--color-black);
        }
        .account__manage__name {
            font-weight: 600;
            font-size: 16px;
            margin-bottom: 6px;
        }
        .account__manage__username {
            font-size: 14px;
            margin-bottom: 20px;
        }
        .account__manage__chip {
            color: var(--color-black);
            font-family: var(--font-noto-sans);
            font-weight: 500;
            font-size: 14px;
            & > span {
                overflow: unset;
                &:nth-child(2) {
                    display: none;
                }
            };
            &:hover {
                background-color: transparent;
            }
            &:focus {
                box-shadow: none;
            }
        }
    }
    .account__sign_out {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        .account__sign_out__button {
            padding: 8px 24px;
            border: 1px solid var(--color-border);
            border-radius: 4px;
            color: var(--color-black);
            font-family: var(--font-noto-sans);
            font-weight: 500;
            font-size: 14px;
            cursor: pointer;
            background-color: var(--color-white);
            &:hover {
                background-color: var(--color-gray-quaternary);
            }
            &:focus {
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
            }
        }
    }
    .account__links {
        width: 100%;
        box-sizing: border-box;
        padding: 16px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-gray-primary);
        font-family: var(--font-noto-sans);
        font-size: 12px;
        a {
            color: currentColor;
            cursor: pointer;
            text-decoration: none;
            white-space: nowrap;
        }
    }
}