.background_color {
	.background_color__colors {
		display: flex;
		flex-wrap: wrap;
		.background_color__colors__item {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 26px;
			height: 26px;
			margin: 4px;
			border: 1px solid var(--color-border);
			border-radius: 26px;
			cursor: pointer;
			transition: box-shadow 0.3s ease-in-out;

			&:hover {
				margin: 2px !important;
				padding: 2px !important;
			}

			svg {
				color: #000000;
				font-size: 18px;
			}
		}
	}
}
