.header_image {
	width: 100%;
	height: 185px;
	background-color: var(--color-gray-tertiary);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border-radius: 12px;
}
