.entity {
	position: relative;
	box-sizing: border-box;
	margin-top: 20px;
	padding: 24px;
	overflow: hidden;
	border-radius: 8px !important;
	.entity__cursor {
		position: absolute;
		top: 0;
		left: 0;
		width: 6px;
		height: 100%;
		background-color: var(--color-blue);
		transition: opacity 0.2s ease-in-out;
	}
	.entity__title_line {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 10px;
	}
}
