.account_button {
	margin: 0 12px 0 8px;
	cursor: pointer;
}
.account_tooltip {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
	justify-content: center;
}
.account_popup {
	position: fixed;
	top: 64px;
	right: 12px;
	z-index: 99;
	width: 310px;
	border-radius: 8px !important;
	.account_popup__manage {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		padding: 20px 0;
		.account_popup__manage__image {
			position: relative;
			width: 80px;
			height: 80px;
			margin-bottom: 20px;
			.account_popup__manage__image__new_photo {
				position: absolute;
				right: 0;
				bottom: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 24px;
				height: 24px;
				color: var(--color-gray-primary);
				background-color: var(--color-white);
				border-radius: 24px;
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
				cursor: pointer;
				svg {
					width: 18px;
					height: 18px;
				}
				&:hover {
					color: var(--color-blue);
				}
			}
		}
		.account_popup__manage__name,
		.account_popup__manage__username {
			color: var(--color-black);
			font-family: var(--font-noto-sans);
		}
		.account_popup__manage__name {
			margin-bottom: 6px;
			font-weight: 600;
			font-size: 16px;
		}
		.account_popup__manage__username {
			margin-bottom: 20px;
			font-size: 14px;
		}
		.account_popup__manage__chip {
			color: var(--color-black);
			font-weight: 500;
			font-size: 14px;
			font-family: var(--font-noto-sans);
			& > span {
				overflow: unset;
				&:nth-child(2) {
					display: none;
				}
			}
			&:hover {
				background-color: transparent;
			}
			&:focus {
				box-shadow: none;
			}
		}
	}
	.account_popup__button_area {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 20px 0;
		.account_popup__button_area__button {
			padding: 8px 24px;
			color: var(--color-black);
			font-weight: 500;
			font-size: 14px;
			font-family: var(--font-noto-sans);
			background-color: var(--color-white);
			border: 1px solid var(--color-border);
			border-radius: 4px;
			cursor: pointer;
			&:hover {
				background-color: var(--color-gray-quaternary);
			}
			&:focus {
				box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
			}
		}
	}
	.account_popup__links {
		display: flex;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		width: 100%;
		padding: 16px 0;
		color: var(--color-gray-primary);
		font-size: 12px;
		font-family: var(--font-noto-sans);
		a {
			color: currentColor;
			white-space: nowrap;
			text-decoration: none;
			cursor: pointer;
		}
	}
}
.account_dialog {
	.account_dialog__content {
		margin-top: 20px;
		color: var(--color-black);
		font-weight: 500;
		font-size: 14px;
		font-family: var(--font-noto-sans);
		line-height: 1.5;
	}
	.account_dialog__actions {
		margin: 0 20px 20px 20px;
		.account_dialog__actions__button {
			text-transform: none;
			&:nth-child(1) {
				margin-right: 8px;
			}
			&:nth-child(2) {
				background-color: var(--color-blue);
			}
		}
	}
}
