.overview {
	display: flex;
	padding: 105px 0;
	.overview__content {
		flex: 1;
		h2 {
			width: 500px;
			margin: 0 0 24px 0;
			color: var(--color-black);
			font-weight: 400;
			font-size: 60px;
			font-family: var(--font-noto-sans);
			line-height: 72px;
			letter-spacing: -0.5px;
			text-align: left;
		}
		p {
			width: 500px;
			margin: 0 0 36px 0;
			color: var(--color-gray-primary);
			font-size: 20px;
			font-family: var(--font-noto-sans);
			line-height: 28px;
			text-align: left;
		}
		.overview__content__buttons {
			width: 500px;
			margin: 0 0 36px 0;
			.overview__content__buttons__button {
				margin-right: 16px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		.overview__content__sign_up {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 500px;
			p {
				width: fit-content;
				margin-right: 12px;
				margin-bottom: 2px;
				color: var(--color-gray-primary);
				font-weight: 400;
				font-size: 16px;
				font-family: var(--font-noto-sans);
			}
		}
	}
	.overview__slide_show {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 728px;
		height: 100%;
		.overview__slide_show__image {
			width: 100%;
			-webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
			filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
		}
		.overview__slide_show__cursor {
			position: absolute;
			top: 220px; // 75px
			left: 345px; // 400px
			z-index: 96;
			height: 36px;
			transition: top 1.5s ease, left 1.5s ease, opacity 1s ease;
		}
	}
}
