.ready_section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 105px 0;
    position: relative;
    &:before {
        position: absolute;
        top: 0;
        left: -112px;
        content: '';
        width: calc(100% + 224px);
        height: 1px;
        background-color: var(--color-border);
    }
    h2 {
        margin: 0 0 36px 0;
        color: var(--color-black);
        font-family: var(--font-noto-sans);
        font-size: 36px;
        font-weight: 400;
        letter-spacing: -0.25px;
        line-height: 44px;
    }
    .ready_section__buttons {
        .ready_section__buttons__button {
            margin-right: 16px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .ready_section__background_image {
        position: absolute;
        bottom: 0;
        left: -80px;
        width: 300px;
    }
}
