.security_section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 105px 0;
    .security_section__title {
        font-family: var(--font-noto-sans);
        font-size: 36px;
        font-weight: 400;
        letter-spacing: -.25px;
        line-height: 44px;
        text-align: center;
        margin: 0;
    }
    .security_section__logos {
        margin: 80px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            height: 55px;
            margin-right: 80px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .security_section__content {
        display: flex;
        width: 100%;
        .security_section__content__column {
            flex: 1;
            &:nth-child(1) {
                padding-right: 32px;
                border-right: 1px solid var(--color-border);
            }
            &:nth-child(2) {
                padding-left: 32px;
            }
            h3 {
                color: var(--color-black);
                margin: 0 0 8px 0;
                font-family: var(--font-noto-sans);
                font-size: 20px;
                font-weight: 500;
                letter-spacing: initial;
                line-height: 28px;
            }
            p {
                color: var(--color-gray-primary);
                font-family: var(--font-noto-sans);
                font-size: 16px;
                font-weight: 400;
                letter-spacing: initial;
                line-height: 28px;
                margin: 0 0 36px 0;
                &:last-child {
                    margin: 0;
                }
            }
            .security_section__content__column__list {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    color: var(--color-black);
                    font-family: var(--font-noto-sans);
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: initial;
                    line-height: 28px;
                    margin: 0;
                    padding: 11px 0 11px 0;
                    border-bottom: 1px solid var(--color-border);
                    &:first-child {
                        padding-top: 22px;
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}