.sign_up__container {
    width: 748px;
}
.sign_up__content {
    padding: 0 !important;
    width: 100%;
    .sign_up__content__header {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        .sign_up__content__header__logo {
            height: 24px;
        }
        .sign_up__content__header__texts {
            font-family: var(--font-noto-sans);
            margin-top: 16px;
            text-align: center;
            color: var(--color-black);
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
        }
    }
    .sign_up__content__body {
        margin-top: 24px;
        display: flex;
        align-items: flex-start;
        .sing_up__content__body__form {
            width: calc(100% - 300px);
            .sign_up__content__body__form__input_area {
                display: flex;
                .sign_up__content__body__form__input_area__input {
                    margin-right: 8px;
                }
                .sign_up__content__body__form__input_area__input:last-child {
                    margin-right: 0;
                }
            }
            .sign_up__content__body__form__username {
                width: 100%;
                margin-top: 24px;
            }
            .sign_up__content__body__form__danger {
                padding: 9px 9px 24px 9px;
                font-size: 14px;
                font-weight: 500;
                font-family: var(--font-noto-sans);
                color: var(--color-red);
                line-height: 20px;
            }
        }
        .sing_up__content__body__image {
            width: 252px;
            margin: 0 0 0 48px;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            img {
                width: 80%;
            }
            figcaption {
                font-family: var(--font-noto-sans);
                font-size: 16px;
                font-weight: 300;
                text-align: center;
                margin-top: 16px;
            }
        }
    }
}
.sign_up__footer {
    padding: 0 !important;
    margin-top: 42px;
    width: calc(100% - 300px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .sign_up__footer__button {
        text-transform: none;
    }
    .sign_up__footer__button:nth-child(1) {
        margin-left: -8px;
    }
    .sign_up__footer__button:nth-child(2) {
        background-color: var(--color-blue);
    }
}